nav{
	background-color: #CCCCCC
}


#nav{
	/*position: fixed;*/	
	top: 0;
	width: 100%;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}